@layer app {
  .calendar-layout {
    & nav.page {
      background-color: var(--color-calendar-a50);
    }
    & :focus-visible {
      background-color: var(--color-calender-a125);
      outline: 1px solid var(--color-calendar);
    }

    & a.create {
      background-color: var(--color-calendar-a50);
      color: white;
    }

    & div.page {
      border-top: 0.25rem solid var(--color-calendar);

      & > h2 {
        color: var(--color-calendar);
      }
    }

    & form {
      & .label {
        color: var(--color-calendar);
      }

      & input[type='text'],
      & input[type='number'],
      & input[type='date'],
      & input[type='datetime-local'],
      & select,
      & .text-editor .tiptap,
      & .code-editor {
        border-color: var(--color-calendar);
      }
    }
  }
}
